.recipe-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.recipe-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.img-hover {
    transition: transform 0.3s ease-in-out;
}

.img-hover:hover {
    transform: scale(1.1);
}